@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$Font: 'Roboto', sans-serif;

$Fondo-color: #181818;
$Items-color: #202020;
$Border-color: #383838;
$Text-color: #e7e7e7;
$Button-color: #CC0000;
$icono: #8f8f8f;
$buscador: #121212;
$Button-coment: #BBBBBB;
