@use "variables" as v;
@use "reseteos";
@use "menu";
@use "main";
@use "imagenes";

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: v.$Fondo-color;
  font-family: v.$Font;
  min-height: 100vh;
  display: flex;
  position: relative;
}
